.enhancement {
  color: #AB7AFF !important;
}
ul.production_info {
  height: 66px; padding: .5em 1em;
}
ul.production_info li {
  line-height: 1.4em;
}
.uipp-selected {
  outline: 1px dotted #AB7AFF; outline-offset: -2px;
}
.limitingreagent {
  outline: 1px dotted #AB7AFF; outline-offset: 2px;
}
.costs_wrap #costs {
  margin: 5px 0 0 0;
}
.storageleft {
  position: absolute; bottom: -14px; left: -51%; width: 170%;
}
.boldy {
  font-weight: bold;
}
.resourcesgt {border-bottom:1px dotted #AB7AFF; position: absolute; bottom: 50px;
left: -150%; width: 400%; font-size: 1.1em; padding-bottom: 1px;
}
.uiEnhancementWindow {
  margin-bottom: 3em !important
}
.uiEnhancementWindow a {
  color:white; text-decoration:none;
}
.uipp-table tr.ignore {
  opacity:.25;
}
.icon.icon_eye.disabled:hover {
  background-position: 0 -48px;
}
.currentPlayer td {
  background: #444 !important;
}
.spacer {
  height: .3em
}
.uipp-expe-overuse { display: inline-block; background: #ccc; border-radius: 4px; height: 8px; width: 8px; margin-right: 5px; vertical-align: -3px; }
.uipp-expe-overuse.overuse-n { background: #4CAF50 }
.uipp-expe-overuse.overuse-l { background: #8BC34A }
.uipp-expe-overuse.overuse-m { background: #FF9800 }
.uipp-expe-overuse.overuse-h { background: #F44336 }
.uipp-expe-size { background: #333; color: #999; padding: 0 3px; border: 1px solid; border-radius: 3px; vertical-align: -1px; font-size: 9px; position: absolute; left: 4px; margin-top: -13px; }
.uipp-expe-size.size-x { display: none }
.uipp-expe-size.size-m { color: #a1c7a4; background: #2b702e; }
.uipp-expe-size.size-l { color: #af5e0c; background: #fff173; }
.expe-row.separator td { border-top: 3px solid #333 }
.uipp-table {
  font-size: 11px; width: 100%; text-align: center; color: white
}
.uipp-table th {
  font-size: 14px; font-weight: bold; cursor: pointer; padding: 10px;
}
.uipp-table td {
  padding: 5px
}
.uipp-table.bordered td {
  border-top: 1px solid rgba(255, 255, 255, 0.3)
}
.uipp-table a {
  color: inherit !important; text-decoration: none;
}
.uipp-filter {
  cursor: pointer; display: inline-block; font-size: 11px; background: black;
  padding: 3px 5px; vertical-align: 3px; border-radius: 3px; margin-left: 2px; color: #AB7AFF;
}
.uipp-filter.active {
  background: #694d98; color: white;
}
.uipp-filterbar {
  padding: 5px 0;
}
.uiEnhancementWindow .halfsection {
  float: left; width: calc(50% - 18px); padding: 5px; margin: 3px; border: 1px dotted #555;
  border-radius: 4px; font-size: 10px
}
.halfsection h3 {
  text-align: center; color: white; font-size: 15px; font-weight: bold; padding-bottom: 10px;
}
.halfsection table td {
  text-align: left;
}
.shadowed {
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black
}
div#planetList > .smallplanet .transDeployLink {
  opacity: 0;
}
div#planetList > .smallplanet:hover .transDeployLink {
  opacity: 1;
}
